* {
    box-sizing: border-box;
}

/* centralize */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

.contact-form {
    width: 250px;
}

input, textarea {
    width: 100%;
    background-color: lightblue;
    border:none;
    padding: 0.5rem;

}
input:focus,
textarea:focus {
    outline:none;
}
.tag {
    padding: 5px 0;
    font-size: 20px;
}

.container {
    background-color: steelblue;
    padding: 2rem;
    border-radius: 10px;
    overflow: none;
    display: flex;
}

.submit-btn {
    background-color: lightslategrey;
    /* border:none; */
    border:2px solid darkblue;
    border-radius: 5px;
    width: 100%;
    padding:1rem;
    margin-top: 1rem;
    color:darkblue;
    cursor: pointer;

}
.submit-btn:hover {
    background-color: slategrey;
}